.main {
    width: 100%;

    .text-location-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;

        .description-title {
            font-size: 24px;
            text-align: center;
            margin: 20px 0;
            font-family: "Montserrat", cursive;
            font-optical-sizing: auto;
            font-weight: 900;
        }

        .location-description {
            line-height: 1.6;
            font-size: 18px;
            text-align: center;
            font-family: "Montserrat", cursive;

            .highlight {
                color: #007BFF;
                font-weight: bold;
            }
        }
    }

    .line {
        display: block;
        width: 75%;
        height: 2px;
        background-color: #ccc;
        margin: 40px auto 20px auto;
    }
}