$border-color: #52adc1;
$bg-color: #152235;
$text-color: #52adc1;

.pre-header {
    position: fixed;
    top: 0;
    z-index: 9999;
    border-bottom: 1px solid $border-color;
    background-color: $bg-color;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    color: $text-color;

    .book-now {
        font-size: 1em;
        align-self: center;
        margin: 10px;
    }

    .wrap-book-now {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 5px;
        flex-basis: 50%;

        .telephone-icon,
        .booking-tel-number {
            align-self: center;
        }

        .telephone-icon {
            display: inline-flex;
            width: 20px;
            height: 20px;
        }

        .booking-tel-number {
            font-size: 1em;
            margin: 0;
        }
    }

    .wrap-change-language {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 15px;

        .flag-icon {
            margin: 3px 0;
            width: 20px;
            height: 20px;
        }
    }
}