$bg-color-header: white;
$text-color-header: #152235;
$logo-width: 170px;
$place-name-font-size: 2.3em;

.header {
  background-color: $bg-color-header;
  width: 100%;

  .wrap-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;
    top: 50px;

    .logo-link {
      display: inline-block;
      align-self: center;

      .bnb-logo-img {
        width: $logo-width;
        object-fit: contain;
      }
    }

    .place-name-container {
      align-self: center;

      .place-name {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        color: $text-color-header;
        font-size: $place-name-font-size;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
      }
    }
  }
}
