.footer {
  padding: 30px 0 0 0;
  font-family: "Montserrat", sans-serif;
}
.footer .footer-title {
  font-size: 24px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-weight: 900;
  margin-bottom: 30px;
}
.footer .upper-footer {
  text-align: center;
}
.footer .upper-footer .footer-contacts-title {
  font-size: 24px;
}
.footer .upper-footer .wrap-address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.footer .upper-footer .wrap-address .footer-contacts-address {
  margin-top: 5px;
  margin-bottom: 0;
}
.footer .upper-footer .wrap-address .map-icon img {
  margin-top: 4px;
  width: 20px;
}
.footer .upper-footer .wrap-address .map-icon:hover {
  transform: scale(1.2);
}
.footer .upper-footer .footer-contacts-phone {
  font-weight: bolder;
  margin-bottom: 0;
}
.footer .upper-footer .footer-contacts-phone a {
  margin-left: 5px;
  font-weight: normal;
  color: black;
  text-decoration: underline;
}
.footer .upper-footer .footer-contacts-mail {
  font-weight: bolder;
}
.footer .upper-footer .footer-contacts-mail a {
  margin-left: 5px;
  font-weight: normal;
  color: black;
  text-decoration: underline;
}
.footer .bottom-footer .footer-copyright {
  text-align: center;
  font-size: 10px;
}
.footer .post-footer {
  display: flex;
  justify-content: center;
  gap: 5px;
}