.header {
  background-color: white;
  width: 100%;
}
.header .wrap-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
}
.header .wrap-header .logo-link {
  display: inline-block;
  align-self: center;
}
.header .wrap-header .logo-link .bnb-logo-img {
  width: 170px;
  object-fit: contain;
}
.header .wrap-header .place-name-container {
  align-self: center;
}
.header .wrap-header .place-name-container .place-name {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #152235;
  font-size: 2.3em;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}