.main {
  width: 100%;
}
.main .text-location-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main .text-location-container .description-title {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
  font-family: "Montserrat", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
}
.main .text-location-container p {
  line-height: 1.6;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", cursive;
}
.main .text-location-container p .highlight {
  color: #007BFF;
  font-weight: bold;
}