.pre-header {
  position: fixed;
  top: 0;
  z-index: 9999;
  border-bottom: 1px solid #52adc1;
  background-color: #152235;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  color: #52adc1;
}
.pre-header .book-now {
  font-size: 1em;
  align-self: center;
  margin: 10px;
}
.pre-header .wrap-book-now {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  flex-basis: 50%;
}
.pre-header .wrap-book-now .telephone-icon,
.pre-header .wrap-book-now .booking-tel-number {
  align-self: center;
}
.pre-header .wrap-book-now .telephone-icon {
  display: inline-flex;
  width: 20px;
  height: 20px;
}
.pre-header .wrap-book-now .booking-tel-number {
  font-size: 1em;
  margin: 0;
}
.pre-header .wrap-change-language {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
.pre-header .wrap-change-language .flag-icon {
  margin: 3px 0;
  width: 20px;
  height: 20px;
}