.footer {
    padding: 30px 0 0 0;
    font-family: 'Montserrat', sans-serif;

    .footer-title {
        font-size: 24px;
        text-align: center;
        font-family: "Dancing Script", cursive;
        font-weight: 900;
        margin-bottom: 30px;
    }

    .upper-footer {
        text-align: center;

        .footer-contacts-title {
            font-size: 24px;
        }

        .wrap-address {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;

            .footer-contacts-address {
                margin-top: 5px;
                margin-bottom: 0;
            }

            .map-icon {
                img {
                    margin-top: 4px;
                    width: 20px;

                }
            }

            .map-icon:hover {
                transform: scale(1.2);
            }
        }


        .footer-contacts-phone {
            font-weight: bolder;
            margin-bottom: 0;

            a {
                margin-left: 5px;
                font-weight: normal;
                color: black;
                text-decoration: underline;
            }
        }

        .footer-contacts-mail {
            font-weight: bolder;

            a {
                margin-left: 5px;
                font-weight: normal;
                color: black;
                text-decoration: underline;
            }
        }
    }

    .bottom-footer {
        .footer-copyright {
            text-align: center;
            font-size: 10px;
        }
    }

    .post-footer {
        display: flex;
        justify-content: center;
        gap: 5px;
    }
}